<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yelp Camp</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/06a7ac0ecc.js" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>

</head>
<body>
    
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light px-4 py-0">
            <a class="navbar-brand" href="/">YelpCamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
                        <a class="nav-link" href="/campgrounds">Campgrounds <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <% if(!currentUser){ %> 
                        <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                            <a class="nav-link" href="/login">LogIn</a>
                        </li>
                        <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                            <a class="nav-link" href="/register">SignUp</a>
                        </li>
                    <% } else { %> 
                        <li class="nav-item">
                            <% if(currentUser.isAdmin){%>
                                <p class="nav-link" style="margin:0"> Admin privilages activated! </p>
                            <%} else {%>
                                <p class="nav-link" style="margin:0"> Signed In as <%= currentUser.username %> </p>
                            <%} %> 
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">LogOut</a>
                        </li>
                    <% } %> 
                </ul>
            </div>
    </nav>

    <div class="container" style="margin-top: 62px;">
        <% if(error && error.length > 0) {%>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } 
        if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <%} %>
    </div>
    
  